/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background: black;
  color: #fff;
}
#header{
  width: 100%;
  background-color: #262626;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.container{
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  width: 140px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff0000;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
.home{
  padding: 120px;
  margin: 0;
  height: 90vh;
  font-size: 30px;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.home p{
  margin-top: 100px;
}
.home p span{
  color: #ff0000;
}
.home h1{
  font-size: 60px;
  margin-top: 50px;
}
.home h1 span{
  color: #ff0000;
}

/*About*/
#about{
  padding: 80px 0;
  color: #fff;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 35%;
}
.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}
.about-col-2{
  flex-basis: 60%;
}
.about-col-2 p{
  text-align: justify;
}
.sub-title{
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}
.sub-title span{
  color: #ff0000;
}
.titles-poin{
  display: flex;
  margin: 10px 0 20px;
  color: #fff;
}
.poin{
  margin-right: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.poin::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff0000;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.poin.active-link::after{
  width: 50%;
}
.add ul li{
  list-style: none;
  margin: 10px;
}
ul{
  padding: 0;
}
.add ul li span {
  color: #ff0000;
  font-size: 15px;
}
.add{
  display: none;
}
.add.active-tab{
  display: block; 
}

/*services*/
#services{
  padding: 80px 0;
  margin-top: 50px ;
  background-image: url("../images/bg.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div{
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  border-radius: 5px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}  
.services-list div:hover{
  background: #ff0000;
  transform: translateY(-10px);
}

/*portofolio*/
#portofolio{
  padding: 80px 0;
  margin-top: 10%;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 60px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #ff0000);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 600;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  line-height: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}

/*Contact*/
#contact{
  margin-top: 10%;
}
.content-left{
  flex-basis: 25%;
}
.content-right{
  flex-basis: 40%;
}
.content-left p{
  margin-top: 30px;
}
.content-left p i{
  color: #ff0000;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #ff0000;
  transform: translateY(-5px);
}
.btn{
  display: block;
  margin: 5px auto;
  width: fit-content;
  border: 1px solid #ff0000;
  padding: 14px 50px;
  border-radius: 6px;
  color: #fff;
  background: transparent;
  transition: background 0.5s;
}
.btn:hover{
  background: #ff0000;
}
.contact-right form{
  width: 100%;
}
.content-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

/*footer*/
.copyright{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background: #262626;
  margin-top: 50px;
  font-weight: 300;
}
#msg{
  color: #61b752;
  display: block;
  text-align: center;
}


/* Media Queries */

@media screen and (max-width: 768px) {
  /* Header */
  .home{
    font-size: 20px;
    padding-right: 20%;
    text-align: right;
    padding-left: 15%;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  .home h1{
    font-size: 30px;
  }
  .container.navbar{
    padding-left: 0%;
  }
  .sticky nav ul li a{
    font-size: 10px;
  }
  .sticky nav img{
    width: 0;

  }
  /* About */
  #about{
    padding-top: 20px;
    padding-bottom: 0%;
  }
  .about-col-1 {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-2 p {
    text-align: justify;
    padding-right: 10%;
  }
  .titles-poin p {
    padding-right: 0%;
  }

  /* Services */
  #services{
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .services-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  /* Portfolio */
   #portofolio{
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .work-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  /* Contact */
  .content-left,
  .content-right {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .copyright{
    padding-right: 0%;
  }
}
